{{ header }}{{ column_left }}
<div id="content">
    <div id="cart-sms">
        <nav>
            <div class="container-fluid">
                <div class="nav-wrapper">
                    <div id="brand-logo">
                        <a class="brand-logo hide-on-med-and-down" href="{{ homepage|escape('html_attr') }}">
                            <img alt="prestasms" width="120" src="{{ logo|escape('html_attr') }}" />
                        </a>
                    </div>
                    <ul class="controls">
                        <span id="react-app-panel-admin-buttons"></span>
                        <span id="react-app-info"></span>
                    </ul>
                    <div class="nav-h1">
                        <span class="h1-divider"></span>
                        <h1 class="truncate">{{ title|escape('html') }}<span id="react-app-h1-sub"></span></h1>
                    </div>
                </div>
            </div>
        </nav>
        <div id="profile-tab"></div>
        <div{% if box %} class="module-box"{% endif %}>
            <div id="react-snack-root"></div>
            <div id="react-app-root">
                <div class="loader loading">
                    <div class="spinner"></div>
                    <p>Loading content</p>
                </div>
            </div>
            <div id="react-language-footer"></div>
            <script type="application/javascript">
                var _bg_client_config = {
                    url: {
                        authenticationService : {{ authenticate|json_encode() }}
                    }
                };
            </script>

            <script src="{{ widget_api_url }}"></script>
            <script type="application/javascript">
                _bg_client.registerMiddleware(function (data)
                {
                    if(data.init._generic)
                    {
                        data.init.env.homepage.logo_link = {{ logo|json_encode() }};
                        data.init._generic.scope.module_info = {{ info|json_encode() }};
                    }
                });

                var input = _bg_client.parseQuery(location.search);

                _bg_client.require({{ application_id|json_encode() }}, {
                    product: "oc",
                    language: {{ language|json_encode() }},
                    view: {
                        presenter: {{ presenter|json_encode() }},
                        action: {{ action|json_encode() }},
                    },
                    params: {
                        id: {% if id %}{{ id|json_encode() }}{% else %}input["id"]{% endif %},
                        key: {% if key %}{{ key|json_encode() }}{% else %}input["key"]{% endif %},
                        type: {% if type %}{{ type|json_encode() }}{% else %}input["type"]{% endif %},
                    },
                    proxy: {{ proxy|json_encode() }},
                });
            </script>
        </div>
    </div>
</div>
{{ footer }}
